#!/usr/bin/env bash

counter=1

while !( curl -s -o /dev/null -w "%{http_code}" -H "Host: <%= validate_hostname %>" <%= validate_curl_opts %> | grep "<%= validate_success_string %>" ); do
  if [ $counter -le <%= validate_attempts %> ]
  then
    ((counter++))
    sleep 1
  else
    echo "false" >&2
    exit 1
  fi
done
